* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}


#first_part_logo_text {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#navbar__logo {
  color: #ff6200;
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 30px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #ff6200;
  background: -webkit-linear-gradient(to right, #ff6200, #fd1d1d);
  background: linear-gradient(to right, #ff6200, #fd1d1d);
  color: #fff;
  transition: all 0.5s ease;
  font-weight: bold;
}

.button:hover {
  background: #fff;
  color: #000000;
  transition: 1s;
  cursor: pointer;
}

.navbar__links:hover {
  color: #ff6200;
  transition: all 0.3s ease;
}

.progress__container {
  width: 100%;
  height: 8px;
  background: transparent;
  position: fixed;
}

.progress__bar {
  height: 6px;
  background: #ff6200;
  width: 0%;
  position: fixed;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.3rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;

  }

  .navbar__btn {
    margin-top: 30px;
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */

.hero {
  background: linear-gradient(to right, #323232, #000000);
  padding: 200px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

#company-logo {
  width: 21vh;
  padding-left: 10px;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero__heading {
  font-size: 5rem;
  margin-bottom: 24px;
  color: #fff;
}

#hero-heading-text-part {
  background: #ff6200;
  background: -webkit-linear-gradient(to right, #ff6200, #fd1d1d);
  background: linear-gradient(to right, #ff6200, #fd1d1d);
  background-size: 100%;
  padding: 0 10px 5px 10px;
  border-radius: 15px;
}

.hero__description {
  font-size: 2.5rem;
  color: #bbbbbb;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }
}

/* About Section */

.main {
  background: #000000;
  padding: 5rem 0;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1300px;
  padding: 50px 50px;
  border: 3px solid #3c3c3c;
  border-radius: 10px;
  transition: 1s;
}

.main__container:hover {
  border: none;
  transition: 1s;
}

.main__content {
  color: #fff;
  flex: 1;
  max-width: 50%;
  padding-right: 20px;
  animation: slideInLeft 1s ease-out;
}

.main__content h1 {
  font-size: 2rem;
  color: #ff6200;
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 2.5rem;
  color: #bbbbbb;
  font-weight: bold;
}

.main__content p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.main__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #ff6200;
  background: -webkit-linear-gradient(to right, #ff6200, #fd1d1d);
  background: linear-gradient(to right, #ff6200, #fd1d1d);
  color: #fff;
  transition: all 0.5s ease;
  font-weight: bold;
  cursor: pointer;
  margin: 30px auto;
  animation: pulse 2s infinite; /* Apply pulse animation */
}

.main__btn a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.main__btn:hover {
  background: #fff;
  transition: 1s;
  cursor: pointer;
}

.main__btn:hover a {
  color: #000000;
}

.main__img--container {
  text-align: center;
  flex: 1;
  max-width: 50%;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(to right, #ff6200 0%, #fd1d1d 100%);
  animation: growShrink 1.5s infinite; /* Apply grow-shrink animation */
}

.main__img--card i {
  font-size: 20rem;
}

/* Mobile Responsiveness */

@media screen and (max-width: 1100px) {
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
    border: none;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 1rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 860px) {
  .main__content {
    max-width: 80%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .main__img--card i {
    font-size: 10rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 717px) {
  .main__content {
    max-width: 80%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .main__img--card i {
    font-size: 10rem;
  }

  .main__content h1 {
    font-size: 1.7rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 550px) {
  .main__content {
    max-width: 80%;
  }

  .main__img--container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main__img--card {
    width: 200px;
    height: 200px;
  }

  .main__img--card i {
    font-size: 8rem;
  }

  .main__content h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 1.5rem;
  }

  .main__content p {
    margin-top: 1.5rem;
  }

  .main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

  }
}

@media screen and (max-width: 490px) {
  .main__content {
    max-width: 90%;
  }

  .main__img--container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .main__img--card {
    width: 200px;
    height: 200px;
  }

  .main__img--card i {
    font-size: 8rem;
  }

  .main__content h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 1.2rem;
  }

  .main__content p {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

  }
}

/* Services Section */

.services {
  background: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 80px 30px;
}

.services h1 {
  color: #ff6200;
  margin-bottom: 30px;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.services__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #3c3c3c;
  border-radius: 10px;
  transition: 1s;
  padding: 30px;
}

.services__card:hover {
  background-color: #1c1c1c;
  transform: scale(1.05);
  transition: 0.5s;
}

.services__btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #ff6200;
  background: -webkit-linear-gradient(to right, #ff6200, #fd1d1d);
  background: linear-gradient(to right, #ff6200, #fd1d1d);
  color: #fff;
  transition: all 0.5s ease;
  font-weight: bold;
  cursor: pointer;
  margin: 30px auto;
  animation: pulse 2s infinite;
}

.services__btn button:hover {
  background: #fff;
  color: #000000;
}

.services h2 {
  color: #bbbbbb;
  margin-bottom: 30px;
}

.services p {
  color: #fff;
  margin-bottom: 30px;
}

@media screen and (max-width: 1300px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 840px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}



/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}